.burgerLabel{
    margin: 17px 0;
    position: relative;
    width:15px;
    cursor: pointer;
    display: flow-root;
  }

.topBarBackground{
    background-color: #384264;
    border-bottom: 1px solid white;
    z-index: 1;
    position: fixed;
    top:0;
    width: 100%;
}
.topBar {
    width: 100%;
    color: white;
    margin: 0 auto;
    text-align: center;
    border-bottom: 1px solid white;
}

li{
    list-style-type: none;
    font-size:18px;
    padding: 40px 35px;
    text-transform: uppercase;
}
.topBar ul{display: inline-flex;}


@media screen and (max-width: 768px) {

    .topBar{display: none;}
    .topBarBackground{height:86px;}
    .burgerLabel{margin:29px 0;}
}
/* Table Responsive */


@media screen and (max-width: 568px){

    .topBar{display: none;}
    .topBarBackground{height: 64px;}
    .burgerLabel{margin:17px 0;}

}

/*Mobile Responsive*/