

.paragraph{
        color: #9D9D9D;
    }


@media screen and (min-width: 1024px){

    .paragraph{
        width: 847px;
        font-size:18px;

    }
}
/* Desktop Responsive */

@media screen and (max-width: 1024px){

    .paragraph{
        width: 747px;
        font-size:16px;
        
    }
}
/* Leptop Responsive */



@media screen and (max-width: 768px){
    .paragraph{
        width: 470px;
        font-size: 16px;
        
    }
}
/* Tablet Responsive */


@media screen and (max-width: 568px){

    .paragraph{
        width: 300px;
        font-size: 14px;
       
    }
}
/* Mobile Responsive */