.portrait {
  -webkit-filter: drop-shadow(0px 7px 7px rgba(0, 0, 0, 0.25));
          filter: drop-shadow(0px 7px 7px rgba(0, 0, 0, 0.25));
  margin-bottom: 47px;
  z-index: -1;
}

span {
  color: #F81783;
}

h1 {
  font-weight: 200;
}

.container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  align-items: center;
  margin: 100px 0 138px 0;
  color: #ffffff;
}

.scrollDown, .swipeDown {
  margin: 123px 0 18px 0;
  font-size: 18px;
}

.paragraph {
  color: #9D9D9D;
}

.allbars {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -ms-flex-line-pack: center;
      align-content: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin: 66px auto 0 auto;
  -ms-flex-direction: column;
      flex-direction: column;
}

.bar {
  text-align: left;
  padding: 22px 0 22px 0;
}

.skill {
  font-size: 26px;
  color: white;
}

.progress {
  width: 490px;
  height: 6px;
  background-color: white;
}

.progressBar {
  height: 6px;
  background-color: #F81783;
}

@media screen and (min-width: 1024px) {
  .portrait {
    width: 240px;
    height: 240px;
  }
  p {
    font-size: 24px;
  }
  h1 {
    font-size: 52.3px;
  }
  .swipeDown {
    display: none;
  }
  .paragraph {
    width: 600px;
    font-size: 18px;
  }
  .display {
    display: -webkit-inline-box;
    display: -ms-inline-flexbox;
    display: inline-flex;
  }
}

@media screen and (max-width: 1024px) {
  .portrait {
    width: 240px;
    height: 240px;
  }
  p {
    font-size: 24px;
  }
  h1 {
    font-size: 52.3px;
  }
  .swipeDown {
    display: none;
  }
  .paragraph {
    width: 600px;
    font-size: 16px;
  }
  .display {
    text-align: center;
    display: block;
  }
}

@media screen and (max-width: 768px) {
  .portrait {
    width: 240px;
    height: 240px;
  }
  p {
    font-size: 24px;
  }
  h1 {
    font-size: 52.3px;
  }
  .scrollDown {
    display: none;
  }
  .swipeDown {
    display: block;
  }
  .paragraph {
    width: 470px;
    font-size: 16px;
  }
  .display {
    text-align: center;
    display: block;
  }
}

@media screen and (max-width: 568px) {
  .introduction {
    margin: 80px 0 138px 0;
  }
  .portrait {
    width: 154px;
    height: 154px;
  }
  p {
    font-size: 18px;
  }
  h1 {
    font-size: 39.4px;
  }
  .scrollDown {
    display: none;
  }
  .swipeDown {
    display: block;
    margin: 123px 0 18px 0;
    font-size: 14px;
  }
  .paragraph {
    width: 300px;
    font-size: 14px;
  }
  .skill {
    font-size: 14px;
  }
  .progress {
    width: 290px;
  }
  .display {
    text-align: center;
    display: block;
  }
}
/*# sourceMappingURL=Homepage.module.css.map */