.allbars{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-content: center;
    justify-content: center;
    margin: 66px auto 0 auto;
    flex-direction: column;
}
.bar{
    text-align: left;
    padding:22px 0 22px 0;
}

label{
    font-size: 26px;
    color:white;
}
.progress {
    width: 490px;
    height: 6px;
    background-color: white;
  }

.progressBar {
    height: 6px;
    background-color: #F81783;
}


@media screen and (max-width: 568px){

label{
    font-size: 14px;
}

.progress{
    width: 290px;
}

}