h4{
    font-size: 24px;
    padding:20px 0;
}

.projectsTitle{
    width: 75vw;
    text-align: left;
    border-bottom:1px solid #EBEBEB;
    font-weight: 100;
    font-size:20px;
}
.allProjects{
    display: inline-flex;
    flex-wrap: wrap;
    justify-content: center;
    width: 90vw;
}

.allLogos{
    padding:50px;
}

.projectBtn{
    padding:10px;
    border:none;
    width:200px;
    background-color: #384264;
    color:white;
    font-size: 16px;
}

.gitIcon{
    float:right;
    width: 22.5px;
    height: 22.5px;
    fill:white;
}

@media screen and (min-width: 1024px){
.projects{
    display: inline-flex;
    flex-wrap: wrap;
    justify-content: center;
}


}
/* Desktop Responsive */


@media screen and (max-width: 1024px){
    .projects{
    
        display: inline-flex;
    }
    

    .projectBtn{
        width:250px;
        margin: 1.5px 0;
    }
    
    }
/* Laptop Responsive */



@media screen and (max-width: 768px){
    h4{
        font-size: 24px;
    }
    
    .projects{

        display: block;
    }

   

    .projectBtn{
        width:250px;
        margin: 1.5px 0;
    }
    
}

/* Mobile Responsive */

@media screen and (max-width: 568px){
    h4{
        font-size: 20px;
    }
    
    .projects{

        display: block;
    }



    .projectBtn{
        width:250px;
        margin: 1.5px 0;
    }
    
}

/* Mobile Responsive */