.btn{
    border:none;
    background-color: #F81783;
    color:white;
}
.btn:hover{
    cursor:pointer;
    background-color:black;
    transition: 0.7s;
}

.icon{
    position: absolute;
    margin-top:1px;
}

@media screen and (min-width: 1024px){

    .btn{
        width: 196px;
        height:47px;
        padding:10px 40px;
        margin:20px 2.5px 0 2.5px;
        font-size:18px;
    }
    .icon{
        margin-left:27px;
    }
}

@media screen and (max-width: 1024px){

    .btn{
        width: 196px;
        height:47px;
        padding:10px 40px;
        margin:20px 2.5px 0 2.5px;
        font-size:18px;
    }
    .icon{
        margin-left:27px;
    }
}



@media screen and (max-width: 768px){
    .btn{
        width: 250px;
        height:47px;
        padding:10px 40px;
        margin:5px 2.5px 0 2.5px;
        font-size:18px;
    }
    
    .icon{
        margin-left:51px;
    }
}

@media screen and (max-width: 568px){
    .btn{
        width: 250px;
        height:47px;
        padding:10px 40px;
        margin:5px 2.5px 0 2.5px;
        font-size:18px;        
    }

    .icon{
        margin-left:51px;
    }
}

